@import 'variable';

body{
    background: #fbfbfb;
    font-family: 'Open Sans', sans-serif; 
}
.container-fluid{
    width: 95%;
}
a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px; 
} 

.auth-img{
    border-radius: 50%;
    border: 2px solid $secondary-color;
    -webkit-transition: 0.8s;
    &:hover{
            border: 2px solid $highlighter;
            -webkit-transition: 0.8s;
            
    }
}  
h4{
    font-weight: 500;
    font-size: 20px;
    color: $text-color; 
}

.fb-page{
    width: auto !important; 
}
.nav-tabs{
    border: 2px solid transparent;
    li{
        a{
            padding: 10px 20px 10px 20px;
            color: $text-color;
            &:hover{
                background: none;
                border: 1px solid transparent;
            }
        }
    }
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background: none;
    color: $secondary-color;
    border: 1px solid transparent;
    border-bottom: 2px solid $secondary-color;
}

.box{
    .content-box{
        position: relative;
        -webkit-transition: 1s;
        figure{
            img{
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
        }
        .content-media{
            padding: 10px 20px;
            background: $white-color;
            border: 1px solid $border-color;
            border-top: none;
            h4{
                font-weight: 300;
                font-size: 32px;
                color: $primary-color;
            }
            .media-detail{
                padding: 20px 0px 0px 0px;
                ul{
                    li{
                        vertical-align: middle;
                            img{
                                width: 40px;
                                height: 40px; 
                                object-fit: cover;
                                display: inherit;
                            }
                            span{
                                img{
                                    width: 40%;
                                    height: auto;
                                    display: inherit;
                                }
                            }
                    }
                    .border-pane{
                        border-left: 1px solid $border-color;
                        margin-left: 10px;
                        padding-left: 10px;
                    }
                    .pull-right{
                        margin-top: 10px;
                    }
                }
            }
            .auth-control{
                padding: 30px 0px 20px 0px;
                a{
                    padding: 10px 25px;
                    border: 1px solid $border-color;
                    text-decoration: none;
                    color: $text-color;
                    text-transform: uppercase;
                    &:hover{
                        color: $highlighter;
                        border: 1px solid $highlighter; 
                    }
                } 
            }
            .media-ancor{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                a{
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
        }
        &:hover{
            -webkit-transition: 0.8s;
            h4{
                color: $secondary-color;
            }
        }
    }
}

.btn-ytd{
    margin-top: 20px;
    padding: 15px 20px;
    background: #F44336;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: .007px;
    text-transform: uppercase;
    border-radius: 3px;
    color: $white-color;
    text-decoration: none;
    -webkit-transition: 1s;
    
    &:hover{
        color: $white-color;
        background: darken(#F44336, 15%);
        -webkit-transition: 1s;
        -webkit-box-shadow: 2px 31px 159px -59px rgb(10, 10, 10);
        -moz-box-shadow: 2px 31px 159px -59px rgb(10, 10, 10);
        box-shadow: 2px 31px 159px -59px rgb(10, 10, 10);

    } 

}
.btn-fb{
    margin-top: 20px;
    padding: 15px 20px;
    background: $primary-color;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: .007px;
    color: $white-color;
    text-decoration: none;
    -webkit-transition: 1s;
    
    
    &:hover{
        color: $white-color;
        text-decoration: none;
        background: darken($primary-color, 15%);
        -webkit-transition: 1s;
        -webkit-box-shadow: 2px 31px 159px -59px rgb(10, 10, 10);
        -moz-box-shadow: 2px 31px 159px -59px rgb(10, 10, 10);
        box-shadow: 2px 31px 159px -59px rgb(10, 10, 10);

    } 

}
.btn-black{
    box-shadow: none;
    border-radius: 0px;
    color: $white-color;
    background: $text-color;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400; 
    padding: 15px 20px;
    &:hover{
        text-decoration: none;
        color: $white-color; 
    }
}

.btn-load{
    border: 1px solid $border-color;
    color: $primary-color;
    border-radius: 0px;
    text-decoration: none;
    -webkit-transition: 0.5s;
    width: 100%;
    padding: 15px 15px;
    background: $white-color;

    &:hover{
        background: $border-color;
        color: $primary-color;
        text-decoration: none;
        -webkit-transition: 0.5s;
    }
}

.breadcrumb-wrapper{
    margin-top: 85px;
    padding-top: 30px;
    margin-bottom: -20px;
    .breadcrumb{
        padding: 20px;
        .breadcrumb-item{
            a{
                color: $secondary-color;
                -webkit-transition: 0.5s;
                text-decoration: none;
                &:hover{
                    color: $highlighter;
                    -webkit-transition: 0.5s;
                    text-decoration: none;
                }
            }
        }
    }
}

.form-control{
    border-radius: 0px; 
}




.com-list{
    padding-bottom: 20px;
    ul{
        li{  
            padding-bottom: 5px;
            font-size: 16px; 

            span{
                font-size: 18px;
                color: lighten($text-color, 50%);
            }
            small{
                color: lighten($text-color, 50%);
            }
        }
        
    }
}



.dropzone-wrapper{
    .dropzone{
        .dz-message{
            margin-top: 20px;
            padding: 100px 40px;
            border: 2px dashed $dark-bor-color; 
            text-align: center;
            font-size: 15pt;
            color: $text-color;
            background: #f9f9f9;
            figure{
                border-radius: 50%; 
                img{
                    width: 10%;
                    padding-bottom: 10px;
                    opacity: 0.4;
                }
            }
            small{
                font-size: 12pt;
                color: $text-color; 
                font-style: italic;
            }
        }
        .dz-profile{
            padding: 75px 10px;
            width: 55%;
            display: inline-block;   
        }
    }
}  


.plain-dropzone-wrapper{
    padding-top: 40px;
    .dropzone{
        .dz-message{
            padding: 40px;
            figure{
                img{
                    width: 40%;
                    opacity: 0.4;
                }
            }
        }
    }
    
}


.form-wrapper{
    .form-group{
        padding: 30px 0px 20px 0px;
        margin-bottom: 0px;
        label{
            font-size: 16px;
        }
        .form-control{
            box-shadow: none;
            border: 1px solid $border-color;
            color: $text-color;
            background: $white-color;
            height: 50px;
            border-radius: 0px;
            font-size: 16px;
            margin: 10px 0px 0px 0px;
            padding: 0px 20px;            
        }
        .btn{
            width: 100%;
            -webkit-box-shadow: 2px 31px 159px -59px rgb(10, 10, 10);
        -moz-box-shadow: 2px 31px 159px -59px rgb(10, 10, 10);
        box-shadow: 2px 31px 159px -59px rgb(10, 10, 10);
        }
        textarea.form-control{
            height: auto;
            padding: 10px 20px 10px 20px;
            color: lighten($text-color, 50%);
        }
        .btn-load{
            border: none;
            &:hover{
                background: $white-color;
            }
        }
    }

    .radio-wrapper{
        padding: 30px 0px;
        .radio-inline{
            text-transform: uppercase;
            input[type=radio]{
                opacity: 0;
            }
            
        }
        input:checked ~ span{
            color: $highlighter !important;
            border: 1px solid $highlighter;
            -webkit-transition: 1s;
        }
        span{
            padding: 15px 30px;
            margin-left: -20px;
            background: $white-color;
            border: 1px solid $border-color;
            -webkit-transition: 1s;
        }
    }
} 


.bg-action{
    background: $white-color;
    padding: 30px;
    border: 1px solid $border-color;
}

.bg-upload{
    padding: 20px 40px 0px 0px;   
}

.summary{
    li{
        font-size: 16px;
        padding: 10px;
        strong{
            font-size: 16px !important; 
            font-weight: 300;
            padding-left: 10px;
        }
        span{
            padding-right: 20px;
            color: $primary-color;
        }
    }
    border-bottom: none !important;
}

.well-p{
    background: $white-color;
    border: 1px solid $border-color;
    border-radius: 0px;
    box-shadow: none;
}

.tags-point{
    li{
        padding: 5px 25px !important;
        border: 1px solid $dark-bor-color;
        border-radius: 32px;
        margin: 0px 10px 10px 0px;
        &:hover{
            border: 1px solid $text-color;
            color: $text-color !important; 
            cursor: pointer;
        }
    }
}