.modal-backdrop.in {
  opacity: 0.8;
}
//search modal style
.modal-search{ 
  position: fixed;
  top:20%; 

   .modal-dialog{
     min-width: 50%;  
   }  

.modal-content{
  border: none;
    box-shadow: none;
    border-radius: 0px;

    .form-wrapper{
      margin-top: -15px;
      .form-group{
        padding: 0px;
        margin: 0px;
      }
      .form-control{
        font-weight: 300;
        font-size: 32px;
        height: 120px;
        text-align: center;
        border: 1px solid transparent;
        border-bottom: 1px solid $border-color;
        &:focus{
          background: $border-color;
        }
        [contenteditable] {
          caret-color: red;
        }
      }
    }
    .modal-header{
      padding: 0px;
      border-bottom: none;
    }

    .modal-body{
      padding: 20px 30px 40px 30px; 
      border: none;
      .heading-text{
        padding: 0px 0px 20px 0px;
        h3{
          font-weight: 300;
        }
      }
    } 
} 
}

.slick-prev, .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 35%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 1;
}

.slick-next {
  right: 25px;
}

.slick-prev {
  left: 0px;
}

.slick-next:before {
  content: "\f152";
}

.slick-prev:before{
  content: "\f150";
}

.slick-prev:before, .slick-next:before {
  font-family: "ionicons";
  font-size: 28px;
  line-height: 1;
  color: $primary-color;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $white-color;
  border-radius: 50px;
  padding: 5px 14px;
 
  -webkit-box-shadow: -1px 3px 105px -1px rgba(67,172,204,1);
-moz-box-shadow: -1px 3px 105px -1px rgba(67,172,204,1);
box-shadow: -1px 3px 105px -1px rgba(67,172,204,1);
  &:hover{
    color: $highlighter !important;
    background: $secondary-color !important; 
  }
}  


.modal-auth{
  position: fixed;
  top:20%; 

   .modal-dialog{
     min-width: 20%;  
   }
   
   .modal-content{
     background: $white-color;
     border-radius: 0px;
     min-height: 10px;
     padding: 30px;

     .modal-header{
       border-bottom: none;
       .heading-text{
         h3{
           font-weight: 300;
           
         }
         p{
           font-size: 18px;
           padding-top: 10px;
           a{
             color:$highlighter;
             text-decoration: none;
             &:hover{
                color: $secondary-color;
             }
           }
         }
       }
     }
     .modal-body{
       .form-wrapper{
         .form-group{
           label{
             font-weight: 300;
           }
           li{
             label{
               a{
                 color: red;
               }
             }
           }
           .checkbox-inline{
             padding-top: 20px;
           }
           .form-control{
             margin-top: 5px;
             border: 1px solid $dark-bor-color;   
           }
         }
       }
       .btn-fb{
         margin-top: 20px;
         width: 100%;
         display: block;
         text-align: center;
         height: 55px;
       }
     }

   }

}
 

.save-changes{
  padding: 30px 0px 0px 0px;
  margin-top: 50px;
  border-top: 1px solid $border-color;
  .btn-black{
    width: 100%;
  }
}

.well-sm{
  background: lighten($primary-color, 70%);
  padding: 20px;
  border: 1px solid $secondary-color;
  text-align: center;
  p{
    font-size: 16px; 
    font-weight: 600;
    margin: 0px;
    a{
      font-weight: 300;
      &:hover{
        color: $highlighter;
      }
    }
  }
}