.custom-navbar{
    background: $primary-color;
    padding: 15px 0px;
    min-height: 10px;
    border: none !important; 

    .navbar-nav{
        li{
            a{
                color: $white-color;
                -webkit-transition: 0.8s;
                &:hover{
                    color: $highlighter;
                    -webkit-transition: 0.8s;
                }
                span{
                    border: 1px solid $white-color;
                    padding: 16px 15px;
                    border-radius: 50%;
                    -webkit-transition: 0.8s;
                    &:hover{
                        border: 1px solid $primary-color;
                        background: darken($primary-color, 30%);
                        -webkit-transition: 0.8s;
                    }
                
                }
            }
        }
    }
}