.side-tab-wrapper{
    .side-tab{
        background: $white-color;
        border: 1px solid $border-color;
        min-height: 10px;
        margin-bottom: 30px;
        .side-tab-head{
            .side-tab-head-wrapper{
                border-bottom: 1px solid $border-color;
                h4{
                    padding: 10px 20px;
                    vertical-align: middle;
                    span{
                        padding-right: 10px; 
                        display: inline-block;
                    }
                }
            }
        }
        .side-tab-body{
            .side-tab-body-wrapper{
                border-bottom: 1px solid $border-color;
                ul{
                    padding-top: 15px;
                    li{
                        padding: 10px 20px;
                        a{
                            color: $text-color;
                            font-size: 16px;
                            text-decoration: none;
                            -webkit-transition: 0.8s;
                        }
                        .badge{
                            background: $dark-bor-color;
                            color: darken($dark-bor-color, 40%);
                            font-weight: 400;
                            -webkit-transition: 0.8s;
                        }
                        &:hover{
                            cursor: pointer; 
                            .badge{
                                background: $highlighter;
                                color: $white-color;
                                -webkit-transition: 0.8s;
                            }
                            a{
                                color: $highlighter;
                                -webkit-transition: 0.8s;
                            }
                        } 
                    }
                }
            }
        }
        .side-tab-footer{
            .side-tab-footer-wrapper{
                a{
                    padding: 20px;
                    vertical-align: middle;
                    color: $primary-color;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 18px;
                    span{
                        padding-left: 10px; 
                        display: inline-block;
                    }
                }
            }
        }
        
    }

    #youtube-tab{
        padding: 30px 40px;
        ul{
            li{
                .com-img{
                    img{
                        width: 70px;
                        height: 70px;
                        object-fit: cover
                    }
                }
                
            }
            .desc{
                padding-top: 10px;
                vertical-align: top;
                strong{
                    font-size: 22px;
                    font-weight: 400;
                }
            }
            
        }
    }
}