body {
  background: #fbfbfb;
  font-family: 'Open Sans', sans-serif;
}

.container-fluid {
  width: 95%;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
}

.auth-img {
  border-radius: 50%;
  border: 2px solid #449BF8;
  -webkit-transition: 0.8s;
}

.auth-img:hover {
  border: 2px solid #FF8D1A;
  -webkit-transition: 0.8s;
}

h4 {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.fb-page {
  width: auto !important;
}

.nav-tabs {
  border: 2px solid transparent;
}

.nav-tabs li a {
  padding: 10px 20px 10px 20px;
  color: #000000;
}

.nav-tabs li a:hover {
  background: none;
  border: 1px solid transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background: none;
  color: #449BF8;
  border: 1px solid transparent;
  border-bottom: 2px solid #449BF8;
}

.box .content-box {
  position: relative;
  -webkit-transition: 1s;
}

.box .content-box figure img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.box .content-box .content-media {
  padding: 10px 20px;
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  border-top: none;
}

.box .content-box .content-media h4 {
  font-weight: 300;
  font-size: 32px;
  color: #014792;
}

.box .content-box .content-media .media-detail {
  padding: 20px 0px 0px 0px;
}

.box .content-box .content-media .media-detail ul li {
  vertical-align: middle;
}

.box .content-box .content-media .media-detail ul li img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  display: inherit;
}

.box .content-box .content-media .media-detail ul li span img {
  width: 40%;
  height: auto;
  display: inherit;
}

.box .content-box .content-media .media-detail ul .border-pane {
  border-left: 1px solid #F5F5F5;
  margin-left: 10px;
  padding-left: 10px;
}

.box .content-box .content-media .media-detail ul .pull-right {
  margin-top: 10px;
}

.box .content-box .content-media .auth-control {
  padding: 30px 0px 20px 0px;
}

.box .content-box .content-media .auth-control a {
  padding: 10px 25px;
  border: 1px solid #F5F5F5;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.box .content-box .content-media .auth-control a:hover {
  color: #FF8D1A;
  border: 1px solid #FF8D1A;
}

.box .content-box .content-media .media-ancor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.box .content-box .content-media .media-ancor a {
  width: 100%;
  height: 100%;
  display: block;
}

.box .content-box:hover {
  -webkit-transition: 0.8s;
}

.box .content-box:hover h4 {
  color: #449BF8;
}

.btn-ytd {
  margin-top: 20px;
  padding: 15px 20px;
  background: #F44336;
  white-space: nowrap;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: .007px;
  text-transform: uppercase;
  border-radius: 3px;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: 1s;
}

.btn-ytd:hover {
  color: #FFFFFF;
  background: #d2190b;
  -webkit-transition: 1s;
  -webkit-box-shadow: 2px 31px 159px -59px #0a0a0a;
  box-shadow: 2px 31px 159px -59px #0a0a0a;
}

.btn-fb {
  margin-top: 20px;
  padding: 15px 20px;
  background: #014792;
  white-space: nowrap;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: .007px;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: 1s;
}

.btn-fb:hover {
  color: #FFFFFF;
  text-decoration: none;
  background: #002246;
  -webkit-transition: 1s;
  -webkit-box-shadow: 2px 31px 159px -59px #0a0a0a;
  box-shadow: 2px 31px 159px -59px #0a0a0a;
}

.btn-black {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
  color: #FFFFFF;
  background: #000000;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 400;
  padding: 15px 20px;
}

.btn-black:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.btn-load {
  border: 1px solid #F5F5F5;
  color: #014792;
  border-radius: 0px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  width: 100%;
  padding: 15px 15px;
  background: #FFFFFF;
}

.btn-load:hover {
  background: #F5F5F5;
  color: #014792;
  text-decoration: none;
  -webkit-transition: 0.5s;
}

.breadcrumb-wrapper {
  margin-top: 85px;
  padding-top: 30px;
  margin-bottom: -20px;
}

.breadcrumb-wrapper .breadcrumb {
  padding: 20px;
}

.breadcrumb-wrapper .breadcrumb .breadcrumb-item a {
  color: #449BF8;
  -webkit-transition: 0.5s;
  text-decoration: none;
}

.breadcrumb-wrapper .breadcrumb .breadcrumb-item a:hover {
  color: #FF8D1A;
  -webkit-transition: 0.5s;
  text-decoration: none;
}

.form-control {
  border-radius: 0px;
}

.com-list {
  padding-bottom: 20px;
}

.com-list ul li {
  padding-bottom: 5px;
  font-size: 16px;
}

.com-list ul li span {
  font-size: 18px;
  color: gray;
}

.com-list ul li small {
  color: gray;
}

.dropzone-wrapper .dropzone .dz-message {
  margin-top: 20px;
  padding: 100px 40px;
  border: 2px dashed #EBEBEB;
  text-align: center;
  font-size: 15pt;
  color: #000000;
  background: #f9f9f9;
}

.dropzone-wrapper .dropzone .dz-message figure {
  border-radius: 50%;
}

.dropzone-wrapper .dropzone .dz-message figure img {
  width: 10%;
  padding-bottom: 10px;
  opacity: 0.4;
}

.dropzone-wrapper .dropzone .dz-message small {
  font-size: 12pt;
  color: #000000;
  font-style: italic;
}

.dropzone-wrapper .dropzone .dz-profile {
  padding: 75px 10px;
  width: 55%;
  display: inline-block;
}

.plain-dropzone-wrapper {
  padding-top: 40px;
}

.plain-dropzone-wrapper .dropzone .dz-message {
  padding: 40px;
}

.plain-dropzone-wrapper .dropzone .dz-message figure img {
  width: 40%;
  opacity: 0.4;
}

.form-wrapper .form-group {
  padding: 30px 0px 20px 0px;
  margin-bottom: 0px;
}

.form-wrapper .form-group label {
  font-size: 16px;
}

.form-wrapper .form-group .form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #F5F5F5;
  color: #000000;
  background: #FFFFFF;
  height: 50px;
  border-radius: 0px;
  font-size: 16px;
  margin: 10px 0px 0px 0px;
  padding: 0px 20px;
}

.form-wrapper .form-group .btn {
  width: 100%;
  -webkit-box-shadow: 2px 31px 159px -59px #0a0a0a;
  box-shadow: 2px 31px 159px -59px #0a0a0a;
}

.form-wrapper .form-group textarea.form-control {
  height: auto;
  padding: 10px 20px 10px 20px;
  color: gray;
}

.form-wrapper .form-group .btn-load {
  border: none;
}

.form-wrapper .form-group .btn-load:hover {
  background: #FFFFFF;
}

.form-wrapper .radio-wrapper {
  padding: 30px 0px;
}

.form-wrapper .radio-wrapper .radio-inline {
  text-transform: uppercase;
}

.form-wrapper .radio-wrapper .radio-inline input[type=radio] {
  opacity: 0;
}

.form-wrapper .radio-wrapper input:checked ~ span {
  color: #FF8D1A !important;
  border: 1px solid #FF8D1A;
  -webkit-transition: 1s;
}

.form-wrapper .radio-wrapper span {
  padding: 15px 30px;
  margin-left: -20px;
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  -webkit-transition: 1s;
}

.bg-action {
  background: #FFFFFF;
  padding: 30px;
  border: 1px solid #F5F5F5;
}

.bg-upload {
  padding: 20px 40px 0px 0px;
}

.summary {
  border-bottom: none !important;
}

.summary li {
  font-size: 16px;
  padding: 10px;
}

.summary li strong {
  font-size: 16px !important;
  font-weight: 300;
  padding-left: 10px;
}

.summary li span {
  padding-right: 20px;
  color: #014792;
}

.well-p {
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tags-point li {
  padding: 5px 25px !important;
  border: 1px solid #EBEBEB;
  border-radius: 32px;
  margin: 0px 10px 10px 0px;
}

.tags-point li:hover {
  border: 1px solid #000000;
  color: #000000 !important;
  cursor: pointer;
}

.custom-navbar {
  background: #014792;
  padding: 15px 0px;
  min-height: 10px;
  border: none !important;
}

.custom-navbar .navbar-nav li a {
  color: #FFFFFF;
  -webkit-transition: 0.8s;
}

.custom-navbar .navbar-nav li a:hover {
  color: #FF8D1A;
  -webkit-transition: 0.8s;
}

.custom-navbar .navbar-nav li a span {
  border: 1px solid #FFFFFF;
  padding: 16px 15px;
  border-radius: 50%;
  -webkit-transition: 0.8s;
}

.custom-navbar .navbar-nav li a span:hover {
  border: 1px solid #014792;
  background: black;
  -webkit-transition: 0.8s;
}

.footer {
  background: #FFFFFF;
  border-top: 1px solid #F5F5F5;
  padding: 50px 0px 40px 0px;
}

.footer p {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.footer .social-links ul {
  text-align: right;
}

.footer .social-links ul li {
  padding-left: 20px;
}

.main-banner {
  margin-top: 85px;
}

.main-banner .main-banner-wrapper {
  position: relative;
}

.main-banner .main-banner-wrapper .banner-image-wrapper {
  height: 550px;
}

.main-banner .main-banner-wrapper .banner-image-wrapper img {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-banner .main-banner-wrapper .banner-image-author {
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 20px;
}

.main-banner .main-banner-wrapper .banner-image-author ul .auth-image-list img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-banner .main-banner-wrapper .banner-image-author ul .auth-name-list {
  position: absolute;
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: 1px;
}

.main-banner .main-banner-wrapper .banner-image-author ul .auth-name-list strong {
  font-weight: 600;
}

.main-banner .main-banner-wrapper .banner-image-author ul .auth-name-list span {
  font-size: 18px;
  font-weight: 300;
}

.main-content {
  padding: 40px 0px;
}

.main-content .content-wrapper .content-headline {
  padding: 5px 0px;
}

.main-content .content-wrapper .content-headline h4 {
  font-size: 24px;
  font-weight: 600;
  vertical-align: middle;
}

.main-content .content-wrapper .content-headline h4 span {
  padding-right: 15px;
}

.main-content .content-wrapper .content-headline h4 span img {
  width: 3%;
}

.main-content .content-wrapper .content-body .tab-content-wrapper {
  margin-bottom: 30px;
}

.media-player-wrapper .media-player-content figure img {
  height: 650px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.media-player-wrapper .media-player-details .details-tags {
  padding: 20px 0px 10px 0px;
}

.media-player-wrapper .media-player-details .details-tags ul li {
  font-size: 18px;
  font-weight: 300;
  padding-right: 10px;
}

.media-player-wrapper .media-player-details .details-tags ul .tag {
  border-left: 1px solid #F5F5F5;
  color: #449BF8;
  font-weight: 400;
  padding-left: 10px;
}

.media-player-wrapper .media-player-details .details-title h2 {
  padding: 0;
  color: #014792;
  margin: 0;
  font-size: 45px;
  padding-bottom: 20px;
}

.media-player-wrapper .media-player-details .details-title .btn-show {
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid transparent;
  color: #9f9f9f;
  margin-top: 5px;
  display: inline-block;
  border-radius: 3px;
  -webkit-transition: 0.8s;
}

.media-player-wrapper .media-player-details .details-title .btn-show:hover {
  text-decoration: none;
  border: 1px solid #FF8D1A;
  color: #FF8D1A;
  -webkit-transition: 0.8s;
}

.media-player-wrapper .media-player-details .extra-image {
  border-bottom: 1px solid #F5F5F5;
}

.media-player-wrapper .media-player-details .extra-image .collapse {
  padding: 30px 0px;
}

.media-player-wrapper .media-player-details .extra-image figure img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.media-player-wrapper .media-player-details .media-auth-details .auth-details-wrapper {
  padding: 30px 0px;
}

.media-player-wrapper .media-player-details .media-auth-details .auth-details-wrapper .auth-image-list img {
  width: 95px;
  height: 95px;
  -o-object-fit: cover;
     object-fit: cover;
}

.media-player-wrapper .media-player-details .media-auth-details .auth-details-wrapper .auth-name-list {
  position: absolute;
  padding: 10px;
}

.media-player-wrapper .media-player-details .media-auth-details .auth-details-wrapper .auth-name-list strong {
  font-size: 18px;
  font-weight: 300;
}

.media-player-wrapper .media-player-details .media-auth-details .auth-details-wrapper .auth-name-list span {
  font-size: 22px;
  text-transform: capitalize;
}

.media-player-wrapper .media-player-details .media-auth-details .auth-details-wrapper .auth-name-list small {
  font-size: 18px;
  font-weight: 300;
  color: #9f9f9f;
  padding-top: 10px;
  display: inherit;
}

.media-player-wrapper .media-player-details .media-auth-details .share {
  padding-top: 45px;
}

.media-player-wrapper .media-player-details .media-auth-details .media-desc-wrapper {
  padding-left: 110px;
  padding-bottom: 30px;
  border-bottom: 1px solid #F5F5F5;
}

.media-player-wrapper .media-player-details .media-auth-details .media-desc-wrapper p {
  font-size: 16px;
}

.media-player-wrapper .media-player-details .media-auth-details .media-comments-wrapper {
  padding: 20px 0px 0px 0px;
}

.media-player-wrapper .media-player-details .media-auth-details .media-comments-wrapper h4 {
  font-weight: 500;
  font-size: 25px;
  padding-left: 10%;
}

.media-player-wrapper .media-player-details .media-auth-details .media-comments-wrapper form {
  padding: 20px 0px;
}

.media-player-wrapper .media-player-details .media-auth-details .media-comments-wrapper form textarea.form-control {
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #F5F5F5;
  font-size: 16px;
  color: darkgray;
  font-weight: 300;
  padding: 15px;
}

.media-player-wrapper .media-player-details .media-auth-details .media-comments-wrapper form label {
  font-weight: 300;
  padding-top: 10px;
  color: #EBEBEB;
}

.media-player-wrapper .media-player-details .media-auth-details .media-comments-wrapper form .btn-black {
  text-align: center;
  margin-top: 40px;
  width: 100%;
}

.media-player-wrapper .media-player-details .media-auth-details .media-comments-wrapper .auth-img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.uploader .box figure img {
  height: 160px;
}

.uploader .box h4 {
  font-size: 22px !important;
}

.uploader .box .content-box {
  padding-bottom: 30px;
}

.profile-wrapper {
  border-bottom: 1px solid #F5F5F5;
  margin-bottom: 30px;
}

.profile-wrapper .user-image figure {
  padding-bottom: 10px;
}

.profile-wrapper .user-image figure img {
  height: 125px;
  width: 125px;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-wrapper .user-details h4 {
  font-size: 32px;
  font-weight: 300;
}

.profile-wrapper .user-details .mail-loc {
  padding: 10px 0px;
}

.profile-wrapper .user-details .mail-loc li {
  font-size: 16px;
  color: #999999;
  font-weight: 300;
  padding: 5px 0px;
  vertical-align: middle;
}

.profile-wrapper .user-details .mail-loc li span img {
  padding-right: 10px;
}

.profile-wrapper .user-details p {
  font-size: 18px;
}

.profile-wrapper .user-details .user-action {
  padding: 30px 0px;
}

.profile-wrapper .user-details .user-action li {
  font-size: 18px;
  color: #999999;
  padding: 15px 30px;
  border: 1px solid #e8e8e8;
  font-weight: 300;
  margin-right: 10px;
}

.profile-wrapper .user-details .user-action li span {
  color: #014792;
  font-weight: 500;
}

.profile-wrapper .user-details .user-action li a span {
  padding-right: 10px;
}

.profile-wrapper .user-details .user-action li a span img {
  display: inline-block;
}

.auth-upload-wrapper ul {
  padding: 25px 0px;
  border-bottom: 1px solid #F5F5F5;
}

.auth-upload-wrapper ul li img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.auth-upload-wrapper ul li strong {
  font-size: 22px;
}

.auth-upload-wrapper ul .pull-right {
  padding-top: 20px;
}

.upload-wrapper {
  padding: 40px;
}

.custom-navs {
  padding: 0px !important;
  border-bottom: 2px solid #F5F5F5;
}

.tab-content {
  padding: 20px 0px;
}

.slick-slider {
  margin: 0 -15px;
}

.slick-slide {
  margin-right: 15px;
  margin-left: 15px;
}

.side-tab-wrapper .side-tab {
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  min-height: 10px;
  margin-bottom: 30px;
}

.side-tab-wrapper .side-tab .side-tab-head .side-tab-head-wrapper {
  border-bottom: 1px solid #F5F5F5;
}

.side-tab-wrapper .side-tab .side-tab-head .side-tab-head-wrapper h4 {
  padding: 10px 20px;
  vertical-align: middle;
}

.side-tab-wrapper .side-tab .side-tab-head .side-tab-head-wrapper h4 span {
  padding-right: 10px;
  display: inline-block;
}

.side-tab-wrapper .side-tab .side-tab-body .side-tab-body-wrapper {
  border-bottom: 1px solid #F5F5F5;
}

.side-tab-wrapper .side-tab .side-tab-body .side-tab-body-wrapper ul {
  padding-top: 15px;
}

.side-tab-wrapper .side-tab .side-tab-body .side-tab-body-wrapper ul li {
  padding: 10px 20px;
}

.side-tab-wrapper .side-tab .side-tab-body .side-tab-body-wrapper ul li a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: 0.8s;
}

.side-tab-wrapper .side-tab .side-tab-body .side-tab-body-wrapper ul li .badge {
  background: #EBEBEB;
  color: #858585;
  font-weight: 400;
  -webkit-transition: 0.8s;
}

.side-tab-wrapper .side-tab .side-tab-body .side-tab-body-wrapper ul li:hover {
  cursor: pointer;
}

.side-tab-wrapper .side-tab .side-tab-body .side-tab-body-wrapper ul li:hover .badge {
  background: #FF8D1A;
  color: #FFFFFF;
  -webkit-transition: 0.8s;
}

.side-tab-wrapper .side-tab .side-tab-body .side-tab-body-wrapper ul li:hover a {
  color: #FF8D1A;
  -webkit-transition: 0.8s;
}

.side-tab-wrapper .side-tab .side-tab-footer .side-tab-footer-wrapper a {
  padding: 20px;
  vertical-align: middle;
  color: #014792;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.side-tab-wrapper .side-tab .side-tab-footer .side-tab-footer-wrapper a span {
  padding-left: 10px;
  display: inline-block;
}

.side-tab-wrapper #youtube-tab {
  padding: 30px 40px;
}

.side-tab-wrapper #youtube-tab ul li .com-img img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.side-tab-wrapper #youtube-tab ul .desc {
  padding-top: 10px;
  vertical-align: top;
}

.side-tab-wrapper #youtube-tab ul .desc strong {
  font-size: 22px;
  font-weight: 400;
}

.modal-backdrop.in {
  opacity: 0.8;
}

.modal-search {
  position: fixed;
  top: 20%;
}

.modal-search .modal-dialog {
  min-width: 50%;
}

.modal-search .modal-content {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
}

.modal-search .modal-content .form-wrapper {
  margin-top: -15px;
}

.modal-search .modal-content .form-wrapper .form-group {
  padding: 0px;
  margin: 0px;
}

.modal-search .modal-content .form-wrapper .form-control {
  font-weight: 300;
  font-size: 32px;
  height: 120px;
  text-align: center;
  border: 1px solid transparent;
  border-bottom: 1px solid #F5F5F5;
}

.modal-search .modal-content .form-wrapper .form-control:focus {
  background: #F5F5F5;
}

.modal-search .modal-content .form-wrapper .form-control [contenteditable] {
  caret-color: red;
}

.modal-search .modal-content .modal-header {
  padding: 0px;
  border-bottom: none;
}

.modal-search .modal-content .modal-body {
  padding: 20px 30px 40px 30px;
  border: none;
}

.modal-search .modal-content .modal-body .heading-text {
  padding: 0px 0px 20px 0px;
}

.modal-search .modal-content .modal-body .heading-text h3 {
  font-weight: 300;
}

.slick-prev, .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 35%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 1;
}

.slick-next {
  right: 25px;
}

.slick-prev {
  left: 0px;
}

.slick-next:before {
  content: "\f152";
}

.slick-prev:before {
  content: "\f150";
}

.slick-prev:before, .slick-next:before {
  font-family: "ionicons";
  font-size: 28px;
  line-height: 1;
  color: #014792;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFFFFF;
  border-radius: 50px;
  padding: 5px 14px;
  -webkit-box-shadow: -1px 3px 105px -1px #43accc;
  box-shadow: -1px 3px 105px -1px #43accc;
}

.slick-prev:before:hover, .slick-next:before:hover {
  color: #FF8D1A !important;
  background: #449BF8 !important;
}

.modal-auth {
  position: fixed;
  top: 20%;
}

.modal-auth .modal-dialog {
  min-width: 20%;
}

.modal-auth .modal-content {
  background: #FFFFFF;
  border-radius: 0px;
  min-height: 10px;
  padding: 30px;
}

.modal-auth .modal-content .modal-header {
  border-bottom: none;
}

.modal-auth .modal-content .modal-header .heading-text h3 {
  font-weight: 300;
}

.modal-auth .modal-content .modal-header .heading-text p {
  font-size: 18px;
  padding-top: 10px;
}

.modal-auth .modal-content .modal-header .heading-text p a {
  color: #FF8D1A;
  text-decoration: none;
}

.modal-auth .modal-content .modal-header .heading-text p a:hover {
  color: #449BF8;
}

.modal-auth .modal-content .modal-body .form-wrapper .form-group label {
  font-weight: 300;
}

.modal-auth .modal-content .modal-body .form-wrapper .form-group li label a {
  color: red;
}

.modal-auth .modal-content .modal-body .form-wrapper .form-group .checkbox-inline {
  padding-top: 20px;
}

.modal-auth .modal-content .modal-body .form-wrapper .form-group .form-control {
  margin-top: 5px;
  border: 1px solid #EBEBEB;
}

.modal-auth .modal-content .modal-body .btn-fb {
  margin-top: 20px;
  width: 100%;
  display: block;
  text-align: center;
  height: 55px;
}

.save-changes {
  padding: 30px 0px 0px 0px;
  margin-top: 50px;
  border-top: 1px solid #F5F5F5;
}

.save-changes .btn-black {
  width: 100%;
}

.well-sm {
  background: #f9fcff;
  padding: 20px;
  border: 1px solid #449BF8;
  text-align: center;
}

.well-sm p {
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}

.well-sm p a {
  font-weight: 300;
}

.well-sm p a:hover {
  color: #FF8D1A;
}
/*# sourceMappingURL=master.css.map */