@import 'constant'; 
@import 'navbar';
.footer{
    background: $white-color;
    border-top: 1px solid $border-color;
    padding: 50px 0px 40px 0px;
    p{
        font-size: 18px;
        padding: 0;
        margin: 0;
    }
    .social-links{
        ul{
            text-align: right;
            li{
                padding-left: 20px;
            }
        }   
    }
    
}
.main-banner{
    margin-top: 85px;
    .main-banner-wrapper{
        position: relative;
        .banner-image-wrapper{
            height: 550px;
            img{
                width: 100%;
                height: 550px;
                object-fit: cover;
            }
        }
        .banner-image-author{
            position: absolute;
            bottom: 20px;
            right: 0;
            left: 20px;
            ul{
                .auth-image-list{
                    img{
                        width: 70px;
                        height: 70px;
                        object-fit: cover;
                    }
                }
                .auth-name-list{
                    position: absolute;
                    margin-top: 10px;
                    color: $white-color;
                    font-size: 16px;
                    letter-spacing: 1px;
                    strong{
                        font-weight: 600;
                    }
                    span{
                        font-size: 18px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

.main-content{
    padding: 40px 0px;

    .content-wrapper{
        .content-headline{
            padding: 5px 0px;
            h4{
                font-size: 24px;
                font-weight: 600;
                vertical-align: middle;
                span{
                    padding-right: 15px;
                    img{
                        width: 3%;
                    }
                }
            }
        }
        .content-body{
            .tab-content-wrapper{
                margin-bottom: 30px;
            }
        }
    }
}


.media-player-wrapper{
    .media-player-content{
        figure{
            img{
                height: 650px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .media-player-details{
        .details-tags{
            padding: 20px 0px 10px 0px;
            ul{
                li{
                    font-size: 18px;
                    font-weight: 300;
                    padding-right: 10px;
                }
                .tag{
                    border-left: 1px solid $border-color;
                    color: $secondary-color;
                    font-weight: 400;
                    padding-left: 10px;
                }
            }
        }
        .details-title{
            h2{
                padding: 0;
                color: $primary-color;
                margin: 0;
                font-size: 45px;
                padding-bottom: 20px;
            }
            .btn-show{
                text-decoration: none;
                padding: 10px 15px;
                border: 1px solid transparent;
                color: darken($dark-bor-color , 30%);
                margin-top: 5px;
                display: inline-block;
                border-radius: 3px;
                -webkit-transition: 0.8s; 
                &:hover{
                    text-decoration: none;
                    border: 1px solid $highlighter;
                    color: $highlighter;
                    -webkit-transition: 0.8s;
                } 
            }
        }
        .extra-image{
            border-bottom: 1px solid $border-color; 
            .collapse{
                padding: 30px 0px;
            }
            figure{
                img{
                    height: 200px;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
        .media-auth-details{
            .auth-details-wrapper{
                padding: 30px 0px;
                .auth-image-list{
                    img{
                        width: 95px;
                        height: 95px;
                        object-fit: cover;
                    }
                }
                .auth-name-list{
                    position: absolute;
                    padding: 10px;
                    strong{
                        font-size: 18px;
                        font-weight: 300;
                    }
                    span{
                        font-size: 22px;
                        text-transform: capitalize;
                    }
                    small{
                        font-size: 18px;
                        font-weight: 300;
                        color: darken($dark-bor-color , 30%);
                        padding-top: 10px;
                        display: inherit;
                    }
                }
            }
            .share{
                padding-top: 45px;
            }

            .media-desc-wrapper{
                padding-left: 110px;
                padding-bottom: 30px;
                border-bottom: 1px solid $border-color;
                p{
                    font-size: 16px;
                }
            }
            .media-comments-wrapper{
                padding: 20px 0px 0px 0px;
                h4{
                    font-weight: 500;
                    font-size: 25px;
                    padding-left: 10%;
                }
                form{
                    padding: 20px 0px;
                    textarea.form-control{
                        border-radius: 0px;
                        box-shadow: none;
                        border: 1px solid $border-color;
                        font-size: 16px;
                        color: darken($border-color , 30%);
                        font-weight: 300;
                        padding: 15px;
                    }
                    label{
                        font-weight: 300;
                        padding-top: 10px;
                        color: $dark-bor-color;

                    }
                    .btn-black{
                        text-align: center;
                         margin-top: 40px;
                         width: 100%;
                    }
                }
                .auth-img{
                    width: 60px;
                    height: 60px;
                    object-fit: cover;
                }
                
            }
            
        }
    }
    

}

.uploader{
    .box{
        figure{
            img{
                height: 160px;
            }
        }
        h4{
            font-size: 22px !important;
        }
        .content-box{
            padding-bottom: 30px;
        }
    }
}


.profile-wrapper{
    border-bottom: 1px solid $border-color;
    margin-bottom: 30px;
    .user-image{
        figure{
            img{
                height: 125px;
                width: 125px;
                object-fit: cover;
            }
            padding-bottom: 10px;   
        }
    }
    .user-details{
        h4{
            font-size: 32px;
            font-weight: 300;
        }
        .mail-loc{
            padding: 10px 0px;
            li{
                font-size: 16px;
                color: lighten($text-color, 60%);
                font-weight: 300;
                padding: 5px 0px;
                vertical-align: middle;
                span{
                    img{
                        padding-right: 10px;
                    }
                }
            }
        }
        p{
            font-size: 18px;
        }
        .user-action{
            padding: 30px 0px;
            li{
                font-size: 18px;
                color: lighten($text-color, 60%);
                padding: 15px 30px;
                border: 1px solid darken($border-color , 5%);
                font-weight: 300;
                margin-right: 10px;
                span{
                    color: $primary-color;
                    font-weight: 500;
                    
                }
                a{
                    
                    span{
                        padding-right: 10px;
                        img{
                            display: inline-block; 
                        }
                    }
                }
            }
        }
    }
}

.auth-upload-wrapper{
    ul{
        padding: 25px 0px;
        border-bottom: 1px solid $border-color;
        li{
            img{
                width: 50px;
                height: 50px;
                object-fit: cover;

            }
            strong{
                font-size: 22px;
            }
        }
        .pull-right{
            padding-top: 20px;
        }
    }
}


.upload-wrapper{
    padding: 40px;  
}

.custom-navs{
    padding: 0px !important;
    border-bottom: 2px solid $border-color;
}


.tab-content{
    padding: 20px 0px; 
}



.slick-slider {
    margin:0 -15px;
}
.slick-slide {
    margin-right:15px;
    margin-left:15px;
}







@import 'sidetab';   
@import 'modal';     